:root {
  --blue-color: #1c5eaa;
}
.header {
  height: unset !important;
}
.top-description {
  font-size: 18px;
  color: #fff;
  background-color: var(--blue-color);
  font-size: 18px;
  text-align: center;
  padding: 10px 15px;
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
  @media screen and (max-width: 620px) {
    font-size: 12px;
    padding: 0 12px;
  } 
}
.newheader {
  display: block;
  margin: 10px 0 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 38px;
  grid-gap: 10px;
  &::after,
  &::before {
    content: unset;
  }
  @media screen and (max-width: 992px) {
    grid-template-rows: 1fr;
    grid-row-gap: 0;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 620px) {
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 0;
  }
  &__logo-container {
    grid-area: 1 / 1 / 3 / 3;
    @media screen and (max-width: 1199px) {
      grid-area: 1 / 1 / 2 / 3;
      max-width: 100px;
    }
    @media screen and (max-width: 992px) {
      grid-area: 1 / 2 / 2 / 5;
      max-width: 70px;
    }
    @media screen and (max-width: 620px) {
      //grid-area: 1 / 2 / 2 / 4;
    }
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    grid-area: 1 / 3 / 2 / 13;
    min-height: 52px;
    @media screen and (max-width: 992px) {
      grid-area: 1 / 3 / 2 / 13;
      justify-content: flex-end;
      .newheader__working-time,
      .newheader__user-controls {
        display: none !important;
      }
    }
    @media screen and (max-width: 620px) {
      .newheader__phone {
        display: none;
      }
    }
    
    .newheader__user-controls {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-auto-rows: min-content;
      //column-count: 2;
      grid-column-gap: 20px;
      & > *,
      & .header-user-details,
      & .header-user-name {
        color: #1E76D0;
        font-size: 13px;
        line-height: inherit;
        font-weight: bold;
      }
    }
    .order-list-link {
      color: #1E76D0;
      font-size: 13px;
      line-height: inherit;
      font-weight: bold;
    }
    .header-login {
      margin-top: 0; // найти и удалить margin-bottom: 0; margin-top: 3px;
    }
  }
  &__nav {
    grid-area: 2 / 3 / 3 / 13;
    align-self: end;
    @media screen and (max-width: 1199px) {
      align-self: unset;
      grid-area: 2 / 1 / 3 / 13;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__burger {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    @media screen and (min-width: 993px) {
      display: none;
    }
  }
  &__phone {
    flex: 1;
    text-align: center;
    .dropdown-content {
      margin-left: unset; // удалить отступ в других стилях
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__working-time {
    display: flex;
    align-items: center;
    gap: 10px;
    &::after {
      content: url('https://truckdrive.ru/i/clocks.png');
    }
    .header-contact {
      height: 40px;
    }
    .header-top__contact,
    .header-contact__phone,
    .header-contact {
      width: auto;
      margin: 0;
      // удалить стили выше коммента из старых стилей, то есть найти и удалить ширину и отступы для .header-top__contact и .header-contact 
    }
  }
  &__icon-links {
    display: flex;
    gap: 10px;

    .header-top-row__point {// удалить отступ в легаси
      margin: 0;
    }
  }
  .header-cart {
    margin: 0;  // удалить отступ в других стилях
    &.header-top__cart_v2 {
      @media screen and (max-width: 992px) {
        min-width: unset; // удалить отступ в других стилях min-width: 120px;
      }
    }
    .header-cart__desc {
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }
  .header-menu {
    width: auto;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &__list-item {
      width: auto !important;
      margin: 0 !important;
      &:last-child .header-top__menu-link {
        border-right: 2px solid #1c5eaa;
      }
      // отсюда
      .header-top__menu-inner {
        margin-right: 0 !important;
      }
      // удалить этот стиль и удалить уже существующшие стили
      //1 .header-top__menu-inner {
      //    margin-right: 8px;
      //}
      //2 margin-right: 12px;
      //3 .header-top__menu-list-item:last-child .header-top__menu-inner { margin-right: 12px;
      //досюда
      &:last-child::after {
        content: none;
      }
    }
  }
}

@media (max-width: 992px) {
  // это стили убивают те, что в легаси
  // нужно удалить легаси стили и затем эти тоже
  // удалить в легаси стили для 620px и 992px
  .header .header-top__contact_middle,
  .header .header-top__cont-xs {
    position: initial;
    margin-bottom: 10px;
  }
  .header .header-top__search-col_middle {
    margin-top: 0;
  }
  // всё что выше найти и удалить, ниже оставить
  .header .header-top__contact_middle {
    margin-bottom: 10px;
  }
}

.aside__left_main-page .aside-panel {
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  padding: 15px;
  position: relative;
  gap: 5px;
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  .header-user-details {
    color: inherit;
  }
  .close-panel {
    position: absolute;
    right: 0;
    top: 0;
  }
}